body {
 background: #CCCCCC
 padding 30px;
}

#banner {
      width: 100% 
}
    color : purple
    .Principal {
   padding-left: 20px ;
    }
.titulo-centralizado

} 

p {
    text-align: center
    font-size: 20px 

}   

#missao {

}
em strong {
    color:aquamarine
}



.itens{
font-style: italic;
}

.beneficios{
background: #FFFFFF;
padding: 20px 
}


ul{
    display: inline-block
    vertical-align: top;
    widt: 20%;
    margin-right: 15%
}

.imagembeneficios{
    width: 50%;
}