body {
 background: #CCCCCC
}

#banner {
      width: 100% 
}
    color : purple
    .Principal {
   
    }
h1{

} 

p {
    text-align: center
    font-size: 20px 

}   

#missao {

}
em strong {
    color:aquamarine
}



.itens{
font-style: italic;
}

.beneficios{
background: #FFFFFF;
}
h2{
  text-align: center;
}